// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Montserrat Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

// $overall-color: #49b3a2;
$overall-color: #405f6e;
$hover-white: #fff;

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    // margin-left: -125px;
    background-color: #e3342f;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 80%;
    // bottom: 488px;
    top: 64px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  // header top nav 
  .v-menu__content {
    .header-right-menu {
      padding: 0;
      .v-list-item {
        display: block;
        padding: 15px;
        a {
          border: 1px solid #53bf7b;
          margin-bottom: 5px;
          color: #53bf7b !important;
          text-align: center;
          min-width: 170px;
          &:hover {
            background-color: #53bf7b;
            color: #fff !important;
          }
        }
        button {
          margin: 10px auto 0;
          padding: 0;
          color: $overall-color;
        }
      }
    }
  }

  // june 6th
  #app {
    // padding-right: 25px;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif !important;
    &.dispatcher-area {
      padding-right: 0;
      #app {
        padding-right: 0;
      }
    }
    .d-ib {
      display: inline-block;
    }
    .mt-m11 {
      margin-top: -11px;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      display: inline-block;
    }
    .ht-auto {
      height: auto;
    }
    .disabled-tag > .v-input__control > .v-input__slot:before,
    .disabled-tag > .v-input__control > .v-input__slot:after {
      display: none;
    }
    .form-layout {
      .col-sm-3 {
        margin-left: -4px;
      }
    }
    .ml-m4 {
      margin-left: -4px;
    }
    .ft-normal {
      font-weight: 300;
    }
    .primary--text {
      color: #53bf7b !important;
      caret-color: #53bf7b !important;
    }
    .wd-100 {
      width: 100% !important;
    }
    a {
      color: #333;
      text-decoration: none;
    }
    button {
      &:focus {
        outline: none;
      }
      &.custom-save-btn {
        background-color: #53bf7b !important;
        color: #fff;
        box-shadow: none;
        border-radius: 22px;
        text-transform: capitalize;
        padding: 0 25px;
        font-weight: normal;
        &.manager-save {
          margin-top: -100px;
        }
      }
    }
    .sidebar-nav {
      background-color: #fff;
      top: 60px !important;
      .v-navigation-drawer__content {
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 6px;
          height: 12px;
          background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 1ex;
        }
        &::-webkit-scrollbar-corner {
          background: #ccc;
        }
      }
      .v-list {
        padding-right: 0;
        .v-list-group__header {
          pointer-events: none;
          min-height: auto;
          .v-list-item {
            min-height: auto;
          }
        }
        .v-list-item {
          margin-bottom: 0;
          &.v-list-group__header {
            .v-list-item {
              // margin-bottom: 0;
            }
            .v-list-item__title {
              font-weight: 500;
              font-size: 12px;
              color: #c3c3c3; 
            }
          }
        }
        .v-list-group__header.v-list-item--active:before {
          opacity: 0;
        }
        .v-list-item__icon {
          display: none;
        }
        .v-list-group--no-action > .v-list-group__items > .v-list-item {
          padding-left: 10px;
          padding-right: 20px;
          min-height: auto;
          cursor: default;
          border-radius: 0;
          margin-bottom: 5px;
          &:hover, &:focus {
            &:before {
              opacity: 0;
            }
          }
          .v-list-item__content {
            cursor: pointer;
            &:hover {
              .v-list-item__title {
                a {
                  border: 1px solid #00be7a;
                  color: #00be7a;
                  background-color: transparent;
                }
              }
            }
          }
          .v-list-item__title {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 25px;
              font-size: 14px;
              border: 1px solid transparent;
              border-radius: 6px;
              &.router-link-active {
                color: #fff;
                background-color: #00be7a;
                border-radius: 6px;
              }
            }
          }
          .v-ripple__container {
            display: none;
          }
        }
        .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
          color: #333 !important;
        }
        .v-list-group__items {
          display: block !important;
          .v-list-item__content {
            padding: 0;
          }
          .overlay {
            .v-list-item__action {
              .v-icon {
                color: #fff;
              }
            }
          }
          .v-list-item__action {
            position: absolute;
            margin: 0;
            font-size: 12px;
            left: 14px;
            .v-icon {
              font-size: 18px;
              color: #333;
            }
          }
        }
      }
    }
    .custom-toolbar {
      height: 60px !important;
      padding-left: 20px;
      background-color: #fff !important;
      left: 0 !important;
      position: fixed;
      z-index: 2;
      box-shadow: 0 0 12px #ccc;
      .v-toolbar__content {
        display: block;
        height: 60px !important;
        padding-top: 15px;
        .header-right {
          .v-icon {
            font-size: 20px;
            color: #333;
            cursor: pointer;
            margin-right: 5px;
          }
        }
        .user-image {
          display: inline;
          float: left;
          .user-image-inner {
            float: left;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            .v-avatar {
              margin-top: -4px;
            }
            .logged-name {
              display: inline-block;
              padding-right: 20px;
              min-width: 190px;
              span.log-name {
                font-size: 16px;
                .v-icon {
                  background-color: #f1f1f1;
                  height: 16px;
                  font-size: 20px;
                  border-radius: 4px;
                  margin-left: 4px;
                  cursor: pointer;
                }
              }
              span {
                display: block;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .add-icon {
      position: absolute;
      top: 20px !important;
      right: 22px;
      z-index: 1;
      a {
        padding: 0;
      }
      svg {
        fill: #fff;
        width: 35px;
        height: 35px;
        circle {
          color: #00be7a;
        }
        line {
          color: #00be7a;
        }
      }
    }
    main.v-content {
      padding-top: 85px !important;
      .v-content__wrap {
        padding-left: 20px;
        h4 {
          &.main-title {
            font-size: 20px;
            padding-left: 10px;
            font-weight: 400;
            display: block;
            width: 100%;
            margin-bottom: 30px;
          }
        }
        .v-application {
          background-color: #fff;
          border-top-left-radius: 10px;
          box-shadow: 0 0 12px rgba(0,0,0,0.2);
          .v-application--wrap {
            padding-left: 20px;
            
          }
        }
      }
      .v-data-table__wrapper {
        padding-bottom: 70px;
        table {
          tr {
            th:empty {
              height: 0;
              padding: 0 !important;
            }
            th {
              border-bottom: none;
              font-size: 14px;
              padding-bottom: 40px;
              &:first-of-type {
                // padding-left: 0;
              }
              &.mgr-add-col {
                min-width: 150px;
              }
            }
            td {
              border-bottom: none;
              &:first-of-type {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
              &:last-of-type {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
              }
              &.action-col {
                min-width: 215px;
                a {
                  margin-right: 5px;
                }
                a, button {
                  display: inline-block;
                  padding: 0;
                  height: auto;
                  line-height: 20px;
                  font-size: 14px;
                  min-width: auto;
                }
                span {
                  &.v-btn__content {
                    line-height: 20px;
                  }
                }
              }
              span {
                label {
                  margin-bottom: 0;
                }
              }
              span.custom-action-btn {
                min-width: 85px;
                display: block;
                padding: 3px 8px;
                background-color: #717171;
                border-radius: 26px;
                text-align: center;
                color: #fff;
                font-weight: normal;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      form {
        .label-align {
          label {
            margin-top: 23px;
          }
        }
        .custom-col {
          padding-top: 4px;
          padding-bottom: 4px;
          &.calendar-col {
            .v-input {
              .v-input__slot {
                max-width: 370px;
              }
            }
          }
          &.custom-img-holder {
            float: left;
            width: 100%;
            max-width: 425px;
            .col-img-holder {
              width: 135px;
              float: right;
              .filepond--wrapper {
                max-width: 135px;
                border: none;
              }
            }
          }
        }
        .input-max {
          .v-input {
            .v-input__slot {
              max-width: none;
            }
          }
        }
        .v-input {
          &.v-input--is-focused.primary--text > .v-input__control > .v-input__slot:after {
            border-color: #ebebeb !important;
          }
          .v-input__slot {
            max-width: 400px;
          }
          label {
            &.primary--text {
              color: #756d6d !important;
            }
          }
          .v-input--selection-controls__input {
            margin-top: -9px;
            .v-icon {
              font-size: 20px;
              &:before {
                color: #53bf7b;
              }
              &.primary--text {
                color: #53bf7b !important;
              }
            }
            .v-input--selection-controls__ripple {
              height: 22px;
              width: 22px;
              top: calc(50% - 18px);
              left: -6px;
            }
          }
          .v-messages {
            min-height: auto;
          }
        }
        .time-slots {
          .checkbox {
            border: 1px solid #ccc;
            padding: 4px 8px 2px;
            margin-right: 15px;
            display: inline-block;
            margin-bottom: 5px;
            cursor: pointer;
            &.activeClass {
              background-color: #53bf7b;
              border-color: #53bf7b;
              color: #fff;
            }
            input[type="checkbox"] {
              opacity: 0;
              width: 0;
            }
            input[type="checkbox"] + label::after {
              content: none;
            }
            input[type="checkbox"]:checked + label::after {
              content: "";
            }
            label {
              position: relative;
              padding-left: 0;
              display: inline-block;
              cursor: pointer;
              margin-bottom: 0;
              font-size: 15px;
              &:before, &:after {
                content: "";
                position: absolute;
                display: none;
              }
              &:before {
                height: 16px;
                width: 16px;
                border: 1px solid;
                left: 0px;
                top: 3px;
              }
              &:after {
                height: 5px;
                width: 9px;
                border-left: 2px solid;
                border-bottom: 2px solid;
                transform: rotate(-45deg);
                left: 4px;
                top: 7px;
              }
            }
          }
        }
        .filepond--wrapper {
          max-width: 400px;
        }
        .custom-img-holder {
          .filepond--wrapper {
            max-width: 150px;
            min-height: 150px;
            border: 1px solid #a09fa0;
            background-color: #cfcfcf;
            .filepond--root {
              min-height: 100% !important;
              .filepond--drop-label {
                min-height: 9.3em;
              }
            }
            .filepond--panel-root {
              background-color: #cfcfcf;
              border-radius: 0;
            }
          }
        }
      }
      #dashboard {
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        .dashboard {
          .v-card {
            background-color: #ebebeb;
            padding: 10px 15px;
            border: 1px solid #b3b2b3;
            box-shadow: none;
            cursor: pointer;
            &:hover {
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
            h5 {
              font-size: 14px;
              color: #333;
              margin-bottom: 0;
              font-weight: normal;
              span {
                float: right;
              }
            }
          }
        }
      }
    }
    .custom-tabs {
      display: block;
      width: 60%;
      flex: none;
      .v-slide-group__wrapper {
        .v-tab {
          text-align: left;
        }
        .v-tabs-slider-wrapper {
          max-width: 200px !important;
          margin-left: 45px !important;
        }
      }
    }
    .custom-tabs-wdout-modif {
      display: block;
      width: 60%;
      flex: none;
      .v-slide-group__wrapper {
        .v-tab {
          text-align: left;
        }
      }
    }
    .custom-tab-content {
      display: block;
      width: 100%;
      flex: none;
      .v-card {
        &.service-tab-content {
          width: 60%;
        }
        &.insurance-tab-content {
          width: 80%;
        }
        &.payment-tabs {
          width: 80%;
        }
        &.record-tabs {
          .cust-record-content {
            .col-sm-2 {
              margin-left: -4px;
            }
            .single-record {
              padding: 15px 0;
              margin-right: 10px;
              background-color: #d9d9d9;
              border-radius: 16px;
              span {
                display: block;
                padding-left: 15px;
                padding-right: 15px;
                &.record-timeline {
                  font-weight: 300;
                  border-bottom: 1px solid #fff;
                  padding-bottom: 5px;
                  margin-bottom: 5px;
                }
              }
            }
          }
          .v-data-table__wrapper {
            table {
              tr {
                th {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
        .v-data-table {
          box-shadow: none !important;
          .v-data-table-header{
            tr {
              th {
                padding-bottom: 0;
                &:last-of-type {
                  width: 240px;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                .custom-action-btn {
                  max-width: 110px;
                  display: inline-block;
                  cursor: pointer;
                  a {
                    display: block;
                    color: #fff;
                  }
                }
              }
            }
          }
          .v-data-footer {
            border: none;
            display: none;
          }
        }
      }
    }
    .job-tabs {
      max-width: 90%;
      .custom-tab-content {
        margin-top: 15px;
      }
    }
    .search-field {
      width: 250px;
      display: block;
      flex: none;
      margin-bottom: 30px;
    }
    .custom-table > .v-data-table__wrapper {
      padding-left: 1px;
      margin-top: 30px;
      // border-radius: 16px;
    }
    .custom-table {
      table {
        margin-left: -1px;
        border-collapse: separate;
        border-spacing: 0 5px;
        tr {
          &.multi-customers {
            border: 1px solid #bababa !important;
          }
          &:hover {
            background: transparent !important;
          }
          td {
            &.single-customer > span {
              display: block;
              text-align: center;
              background-color: #ececec;
            }
            &.single-customer {
              padding-left: 0 !important;
              padding-right: 0;
              border: 1px solid #bababa !important;
              .v-data-table__wrapper {
                overflow: hidden;
                table {
                  margin-left: 0;
                  margin-top: 15px;
                  min-width: 1100px;
                  th {
                    padding-bottom: 0;
                    position: relative;
                    &:first-of-type {
                      padding-left: 10px;
                    }
                    &:last-of-type {
                      padding-right: 10px;
                    }
                    i {
                      position: absolute;
                      right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .chat-area {
      border-top: 1px solid #ebebeb;
      padding-top: 35px;
      .chat-img {
        width: 40px;
        height: 40px;
        display: inline-block;
        float: left;
        background-color: #ebebeb;
        border-radius: 50%;
      }
      .chat-msg {
        width: 60%;
        margin-left: 60px;
        background-color: #ebebeb;
        padding: 10px 30px 10px 30px;
        position: relative;
        font-size: 14px;
        &:before {
          content: "";
          position: absolute;
          left: -8px;
          top: 15px;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 10px solid #ebebeb;
        }
      }
      .chat-receiver {
        float: left;
        width: 100%;
        text-align: right;
        .chat-msg {
          margin-left: 0;
          margin-right: 20px;
          display: inline-block;
          text-align: left;
          &:before {
            right: -8px;
            border-right: none;
            border-left: 10px solid #ebebeb;
            left: auto;
          }
        }
        .chat-img {
          float: right;
        }
      }
    }
    .type_msg {
      border-top: 1px solid #ebebeb;
      padding-top: 35px;
      .input_msg_write {
        input {
          width: 92.3%;
          padding: 12px 10px 12px 30px;
          background-color: #ebebeb;
          &:focus {
            outline: none;
          }
        }
        button.msg_send_btn {
          background-color: #c8c8c8;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          color: #fff;
          margin-left: 10px;
          svg {
            padding-top: 2px;
            height: 25px;
          }
        }
      }
    }
    .account-upper {
      margin-bottom: 50px;
      .account-left {
        display: inline-block;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 1px solid #ccc;
        vertical-align: top;
        img {
          max-width: 100%;
          text-align: center;
        }
      }
      .account-right {
        display: inline-block;
        padding-left: 35px;
        color: #717171;
        h5 {
          font-size: 16px;
          font-weight: 400;
        }
        button.custom-save-btn {
          background-color: #717171 !important;
          color: #fff;
          font-size: 12px;
          padding: 0 20px;
          height: 32px;
        }
      }
    }
    .account-bottom {
      text-align: right;
      padding-right: 10px;
      span {
        padding: 15px 0 15px 15px;
      }
    }
    table,
    table td,
    table th {
      border: none;
    }
    .dataTables_wrapper {
      overflow-x: auto;
      .dataTables_filter {
        label {
          padding: relative;
          &:after {
            content: "\f002";
            font-family: "FontAwesome";
            position: absolute;
            right: 10px;
            top: 5px;
          }
        }
        input {
          border: 1px solid #ccc;
          padding: 6px 15px;
          border-radius: 24px;
          cursor: text;
          &:focus {
            outline: none;
          }
        }
      }
      table {
        min-width: 900px;
        width: 100% !important;
        thead {
          th {
            background-position: -5px 75%;
          }
        }
        tbody {
          tr {
            td {
              &.job-col-body {
                span {
                  padding-right: 4px;
                }
              }
              .table-btn {
                background-color: #c3ffef;
                color: #00be7a;
                padding: 5px 10px;
                display: inline-block;
                border-radius: 6px;
                font-weight: 500;
              }
            }
          }
        }
        &.table-lg {
          min-width: 1100px;
        }
        &.all_jobs {
          thead {
            tr {
              th {
                &.job-summ {
                  width: 110px;
                }
                &.tech-col {
                  min-width: 250px;
                }
                &.time-col {
                  min-width: 130px;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                padding-left: 18px;
              }
            }
          }
        }
      }
    }
    .customer-form {
      #map {
        height: auto;
      }
    }
    // custom select box 
    .custom-sel-box {
      &.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
        border: none;
      }
      &.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
        border: none;
      }
      .v-select__slot {
        background-color: #53bf7b;
        padding: 4px 6px 4px 10px;
        border-radius: 6px;
        label.v-label {
          top: 0;
        }
        .v-select__selections {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: -4px;
            bottom: -4px;
            width: 1px;
            background-color: #fff;
          }
          .v-select__selection {
            color: #fff;
          }
        }
        .v-input__icon {
          i {
            color: #fff !important;
            margin-top: 4px;
          }
        }
      }
    }
    // dropdown in table 
    .dropdown {
      .dropdown-trigger {
        cursor: pointer;
        font-size: 11px;
        background-color: #f6f9f8;
        width: 14px;
        color: #a0a1a1;
        border-radius: 2px;
      }
      .dropdown-menu {
        transform: translate3d(-162px, 21px, 0px);
        will-change: transform;
        top: 0;
        box-shadow: 0 0 12px #ccc;
        border: none;
        border-radius: 0.4375rem;
        width: 11rem;
        overflow: hidden;
        .dropdown-item {
          display: block !important;
          padding: 0.25rem 1.5rem !important;
          line-height: 1.6 !important;
          button {
            outline: none;
            box-shadow: none;
          }
          &:focus,
          &:active {
            box-shadow: none;
            outline: none;
          }
          &:active {
            background-color: transparent;
          }
        }
      }
      &.show {
        .dropdown-menu {
          display: block;
        }
      }
    }
    .v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper),
    .v-data-table tbody tr.selected {
      background-color: #53bf7b;
      color: #fff;
      a {
        color: #fff;
      }
      .dropdown {
        .dropdown-trigger {
          color: #53bf7b;
        }
      }
    }
    .v-data-table tbody tr.selected {
      border-bottom: 1px solid #fff;
    }
    .custom-checkbox {
      width: 120px;
      position: relative;
      margin-top: 5px;
      label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background: #53bf7b;
        // background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        border-radius: 4px;
        // box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
        &:after {
          content: '';
          width: 10px;
          height: 5px;
          position: absolute;
          top: 7px;
          left: 5px;
          border: 2px solid #fff;
          border-top: none;
          border-right: none;
          background: transparent;
          opacity: 0;
          transform: rotate(-45deg);
        }
        &:hover::after {
          opacity: 0.5;
        }
      }
      input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
          opacity: 1;
        }
      }
      .checkbox-title {
        padding-left: 10px;
      }
    }
    .ft-left {
      float: left;
      width: 100%;
    }
    .only-jobs {
      width: 100%;
    }
  }
  h4.top_heading {
      font-family: 'Montserrat', sans-serif;
    padding-left: 20px !important;
  }
  .label_text{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .mor_eve{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  #form_field.custom_form_field{
    input{
      // border-color: rgba(0, 0, 0, 0.42);
      border: none;
      padding-left: 0 !important;
      font-family: 'Montserrat', sans-serif;
      // border-top: none;
      // border-right: none;
      // border-left: none;
      // border-radius: 0px;
      ::placeholder{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .custom_form_field{
    button#submit_btn{
      background: #28c76f !important;
      border-radius: 4px;
      &:hover{
        box-shadow: 0 8px 25px -8px #28c76f9c;
      }
    }
  }
  #custom_tabel{
    font-family: 'Montserrat', sans-serif;
    table{
      thead{
        tr{
          th{
            padding-bottom: 10px !important;
            font-size: 14px !important;
            font-weight: 600 !important;
            color: rgba(0,0,0,.54) !important;
          }
        }
      }
      tbody{
        tr{
          td{
            border-bottom: 1px solid #e2e2e2 !important;
            border-top: 1px solid #e2e2e2 !important;
            font-size: 14px !important;
            color: #00000091;
            font-weight: 500;
          }
          td#description_txt{
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &:hover{
            background: #f9f9f9 !important;
          }
          .selected{
            background: #f9f9f9 !important;
          }
        }
      }
    }
  }
  #app{
    main.v-content{
      .v-content__wrap{
        padding-right: 20px;
        .v-application{
          border-radius: 10px;
        }
      }
    }
  }
  #app-bar{
      width: calc(100% - 260px);
      margin-left: auto;
    .v-toolbar__content{
      display: flex !important;
      flex-direction: row-reverse;
      margin: 0px 20px;
      margin-left: 20px;
      margin-left: 0;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    }
  }
  #app-bar.custom-toolbar{
      background: unset !important;
      box-shadow: unset !important;
      margin-top: 21px !important;
      z-index: 999;
  }
  #app-bar{
    .v-toolbar__content{
      padding-top: 4px !important;
    }
  }
  #app{
    main.v-content{
      padding-top: 104px !important;
    }
    .sidebar-nav{
      top: 0 !important;
    }
  }
  #example{
    font-family: 'Montserrat', sans-serif !important;
    thead{
      tr{
        th{
          padding-bottom: 10px !important;
          font-size: 14px !important;
          font-weight: 600 !important;
          color: rgba(0,0,0,.54) !important;
        }
      }
    }
    tbody{
      tr{
        // :nth-of-type(2n+1){
        //   background-color: #fff;
        // }
        tr:nth-of-type(2n+1) {
          background-color: unset;
      }
      
        td{
          // border-bottom: 1px solid #e2e2e2 !important;
          border-top: 1px solid #e2e2e2 !important;
          font-size: 14px !important;
          color: #000;
          font-weight: 400;
          padding-top: 15px !important;
        }
        td#description_txt{
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        td.action-col{
          display: flex;
          align-items: center;
          padding-top: 6px !important;
        }
        &:hover{
          background: #f9f9f9 !important;
        }
        .selected{
          background: #f9f9f9 !important;
        }
      }
    }
  }
  .v-list-item.theme--dark{
    transition: 0.3s ease-in-out;
    &:hover i{
      transform: translateX(10px);
      transition: 0.3s ease-in-out;
    }
    &:hover a{
      transform: translateX(10px);
      transition: 0.3s ease-in-out;
      border: 1px solid transparent !important;
    }
  }
  // .v-list-item.theme--dark{
  //   a{
  //     position: relative;
  //     &:hover{
  //       content: '';
  //       position: absolute;
  //       background: red;
  //       left: 0;
  //       top: 0;
  //       width: 100%;
  //       height: 100px;
  //     }
  //   }
  // }
  .bread_crum{
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-left: 0 !important;
      li{
        display: inline-block;
        h4.main-title.top_heading{
          padding-right: 11px;
        }
        a{
          display: inline-block;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: #00000096;
          font-weight: 500;
          padding-right: 11px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  #app{
    main.v-content{
      .v-content__wrap{
          padding-left: 0px;
        .v-application{
          background-color:unset;
          box-shadow: unset;
        }
      }
    }
  }
  .main_box{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  }
  a.home_svg{
    >svg{
      color:#56bf7a !important;
    }
  }
  #app{
    .add-icon{
      top: 117px;
    }
  }
  .swal2-actions{
    button.swal2-confirm.swal2-styled{
      background: #28c76f !important;
      border-radius: 4px;
      outline: none;
      transition: 0.3s ease-in-out;
    &:hover{
      box-shadow: 0 8px 25px -8px #28c76f;
      transition: 0.3s ease-in-out;
    }
    }
    button.swal2-cancel.swal2-styled{
      background-color: #ea5455;
      border-radius: 4px;
      outline: none;
      transition: 0.3s ease-in-out;
      &:hover{
        box-shadow: 0 8px 25px -8px #ea5455;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .swal2-popup{
    padding-top: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
    width: 28em!important;
    .swal2-header{
      padding: 15px 15px 10px 15px;
      background: #f8f8f8;
      align-items: self-start;
      margin-bottom: 0;
      opacity: 1;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      h2{
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: #5bc870 !important;
        font-weight: 500;
      }
      button.swal2-close{
        top: 8px;
        right: 10px;
        font-size: 28px !important;
      }
    }
    .swal2-content{
      margin: 13px 15px;
      text-align: left;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      color: #000;
      border-bottom: 1px solid rgb(0 0 0 / 8%);
      padding: 16px 0px;
      margin-top: 0;
      font-weight: 400;
    }
    .swal2-actions {
      margin-top: 0px;
      justify-content: flex-end;
      padding-right: 7px;
      button{
        border-radius: 6px !important;
        max-width: 168px;
        padding: 9px 22px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px !important;
      }
    }
  }
  .custom_form_field{
    .v-input.v-input--has-state.theme--light.v-text-field.v-text-field--is-booted.error--text{
      .v-input__slot {
        border-bottom: 1px solid #f00;
      }
    }
  }
  table#example {
    tr.odd{
      background: #fff !important;
    }
  }
  .user-image-inner{
    position: relative;
      span.notification{
        position: absolute;
        right: 215px;
        top: 20px;
        span.count{
          background: #56bf7a;
          padding: 2px 7px;
          border-radius: 50%;
          color: #fff;
          position: absolute;
          top: -12px;
          right: -8px;
          font-size: 11px;
          font-weight: 600;
          svg{
            color: #616161;
          }
        }
      }
      .v-avatar.v-list-item__avatar{
        margin: 10px !important;
      }
      .logged-name{
        text-align: right;
        min-width: unset;
        padding-right: 15px !important;
        padding-top: 11px;
        font-family: 'Montserrat', sans-serif;
        span{
          color: #626262;
        }
          span.log-name{
            font-weight: 600;
            font-size: 15px !important;
            color: #626262;
          }
      }
     
    }
    div#example_paginate{
      margin-top: 12px;
      font-family: 'Montserrat', sans-serif;
      span{
        background: #f0f0f0;
        padding: 8px 0px;
        border-radius: 30px;
      }
      a.paginate_button{
        padding: 0;
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
        color: #777777 !important;
        font-weight: 700;
        &:hover{
          background: #56bf7a;
          transition: 0.3s ease-in-out;
          color: #fff !important;
          border: none;
        }
      }
      a#example_previous {
        background: #f0f0f0;
        border-radius: 50%;
        color: #bababa !important;
        margin-right: 8px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        padding: 0;
        width: 38px;
        height: 38px;
        line-height: 38px;
        &:hover{
          background: #56bf7a;
          transition: 0.3s ease-in-out;
          color: #fff !important;
        }
      }
      a.paginate_button.current {
        background: #56bf7a !important;
        border: none !important;
        border-radius: 50%;
        color: #fff !important;
    }
    a#example_next{
      background: #f0f0f0;
        border-radius: 50%;
        color: #bababa !important;
        margin-left: 8px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        padding: 0;
        width: 38px;
        height: 38px;
        line-height: 38px;
        &:hover{
          background: #56bf7a;
          transition: 0.3s ease-in-out;
          color: #fff !important;
        }
      }
    }
    div#example_info{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: rgb(0 0 0 / 40%);
      font-weight: 500;
      padding-top: 26px;
    }
    .v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active{
      top: 86px !important;
      // &:before{
      //   content: '';
      //   position: absolute;
      //   width: 30px;
      //   height: 30px;
      //   transform: rotate(45deg);
      //   background: red;
      //   top: 0;
      // }
    }
    .v-menu__content{
      .header-right-menu{
        .v-list-item__title{
          a{
            text-align: left !important;
            color: #626262 !important;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 400;
            border: none;
          }
        }
        button.nav-item.nav-link{
          width: 100%;
          text-align: left;
          padding: 0.5rem 1rem;
          padding-top: 15px;
          border-top: 1px solid rgb(0 0 0 / 12%);
          padding-bottom: 0;
        }
      }
    }
    
  
  