// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// $overall-color: #49b3a2;
$overall-color: #405f6e;
$hover-white: #fff;

#snackbar {
    visibility: hidden;
    min-width: 250px;
    // margin-left: -125px;
    background-color: #e3342f;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 80%;
    // bottom: 488px;
    top: 64px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  // overall
  .my-app {
    &.v-application {
      a {
        color: $overall-color;
      }
      .v-icon {
        color: $overall-color;
      }
      header {
        background-color: #5e8395 !important;
        .float-left {
          .v-app-bar__nav-icon {
            .v-icon {
              color: #fff;
            }
          }
        }
      }
      .side-nav {
        .v-card {
          box-shadow: none;
        }
        .v-list {
          .v-list-item {
            &:hover {
              background-color: #0ac59d;
              .v-list-item__title {
                color: $hover-white;
              }
              a {
                color: $hover-white;
              }
              .v-icon {
                color: $hover-white;
              }
              .v-list-item__icon {
                color: $hover-white;
              }
            }
            .v-list-item__title {
              color: $overall-color;
              padding: 0.5rem 1rem;
              a {
                padding: 0;
              }
            }
            .v-list-item__icon {
              color: $overall-color;
              margin-right: 0;
            }
          }
        }
      }
      .addHereHtml {
        padding-left: 15px;
        button {
          &.success {
            background-color: #0ac59d !important;
            box-shadow: none;
          }
        }
      }
    }
  }

  // header top nav 
  .v-menu__content {
    // top: 57px !important;
    // left: auto !important;
    // right: 20px;
    .header-right-menu {
      padding: 0;
      .v-list-item {
        display: block;
        padding: 15px;
        a {
          border: 1px solid #5e8395;
          margin-bottom: 5px;
          color: $overall-color;
          text-align: center;
          min-width: 170px;
          &:hover {
            background-color: $overall-color;
            color: #fff;
          }
        }
        button {
          margin: 10px auto 0;
          padding: 0;
          color: $overall-color;
        }
      }
    }
  }

  // june 6th
  #app {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      display: inline-block;
    }
    .form-layout {
      .col-sm-3 {
        margin-left: -4px;
      }
    }
    a {
      color: #333;
    }
    button {
      &:focus {
        outline: none;
      }
      &.custom-save-btn {
        background-color: #cfcfcf !important;
        color: #333;
        box-shadow: none;
        border-radius: 22px;
        text-transform: capitalize;
        padding: 0 25px;
        font-weight: normal;
        &.manager-save {
          margin-top: -100px;
        }
      }
    }
    .sidebar-nav {
      background-color: #ebebeb;
      .v-list {
        padding-right: 0;
        .v-list-item {
          margin-bottom: 0;
          &.v-list-group__header {
            .v-list-item {
              // margin-bottom: 0;
            }
            .v-list-item__title {
              font-weight: 500;
              padding-left: 5px;
            }
          }
        }
        .v-list-group__header.v-list-item--active:before {
          opacity: 0;
        }
        .v-list-item__icon {
          display: none;
        }
        .v-list-group--no-action > .v-list-group__items > .v-list-item {
          padding-left: 15px;
          padding-right: 0;
          min-height: auto;
          cursor: default;
          border-radius: 0;
          margin-bottom: 5px;
          &:hover, &:focus {
            &:before {
              opacity: 0;
            }
          }
          .v-list-item__content {
            cursor: pointer;
            &:hover {
              .v-list-item__title {
                a {
                  background-color: #fff;
                  border-top-left-radius: 20px;
                  border-bottom-left-radius: 20px;
                }
              }
            }
          }
          .v-list-item__title {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 25px;
              font-size: 14px;
              &.router-link-active {
                background-color: #fff;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
              }
            }
          }
          .v-ripple__container {
            display: none;
          }
        }
        .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
          color: #333 !important;
        }
        .v-list-group__items {
          .v-list-item__content {
            padding: 0;
          }
          .v-list-item__action {
            display: none;
          }
        }
      }
    }
    .custom-toolbar {
      height: 50px !important;
      padding-left: 20px;
      background-color: #f3f3f3 !important;
      .v-toolbar__content {
        display: block;
        .user-image {
          display: inline;
          float: right;
          .user-image-inner {
            float: left;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            .v-avatar {
              margin-top: 0;
            }
          }
        }
      }
    }
    .add-icon {
      position: absolute;
      top: 5px;
      right: 22px;
      z-index: 1;
      a {
        padding: 0;
      }
      svg {
        fill: #b7b7b7;
        width: 35px;
        height: 35px;
        circle {
          color: #b7b7b7;
        }
        line {
          color: #fff;
        }
      }
    }
    main.v-content {
      padding-top: 90px !important;
      .v-content__wrap {
        padding-left: 26px;
        h4 {
          &.main-title {
            font-size: 20px;
            padding-left: 10px;
            font-weight: 400;
            display: block;
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
      .v-data-table__wrapper {
        table {
          tr {
            th {
              border-bottom: none;
              font-size: 14px;
              padding-bottom: 40px;
              &:first-of-type {
                padding-left: 0;
              }
            }
            td {
              border-bottom: none;
              &:first-of-type {
                padding-left: 1px;
              }
              &.action-col {
                a {
                  margin-right: 15px;
                }
                a, button {
                  display: inline-block;
                  padding: 0;
                  height: auto;
                  line-height: 20px;
                  font-size: 14px;
                  min-width: auto;
                }
                span {
                  &.v-btn__content {
                    line-height: 20px;
                  }
                }
              }
              span.custom-action-btn {
                min-width: 90px;
                display: block;
                padding: 3px 8px;
                background-color: #717171;
                border-radius: 26px;
                text-align: center;
                color: #fff;
                font-weight: normal;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      form {
        .custom-col {
          padding-top: 4px;
          padding-bottom: 4px;
          &.calendar-col {
            .v-input {
              .v-input__slot {
                max-width: 370px;
              }
            }
          }
          &.custom-img-holder {
            float: left;
            width: 100%;
            max-width: 425px;
            .col-img-holder {
              width: 135px;
              float: right;
              .filepond--wrapper {
                max-width: 135px;
                border: none;
              }
            }
          }
        }
        .v-input {
          &.v-input--is-focused.primary--text > .v-input__control > .v-input__slot:after {
            border-color: #ebebeb !important;
          }
          .v-input__slot {
            max-width: 400px;
          }
          label {
            &.primary--text {
              color: #756d6d !important;
            }
          }
          .v-input--selection-controls__input {
            margin-top: -9px;
            .v-icon {
              font-size: 20px;
              &.primary--text {
                color: #756d6d !important;
              }
            }
            .v-input--selection-controls__ripple {
              height: 22px;
              width: 22px;
              top: calc(50% - 18px);
              left: -6px;
            }
          }
          .v-messages {
            min-height: auto;
          }
        }
        // .time-slots {
        //   .v-input {
        //     width: 105px;
        //     flex: none;
        //     display: inline-block;
        //     border: 1px solid #ccc;
        //     padding-top: 3px;
        //     &.v-input--is-label-active {
        //       background-color: #b9b9b9;
        //       .v-input__slot {
        //         .v-label {
        //           color: #fff;
        //         }
        //       }
        //     }
        //     &:first-of-type {
        //       margin-left: 0 !important;
        //     }
        //     .v-input__slot {
        //       margin-bottom: 0;
        //       text-align: center;
        //       .v-label {
        //         margin-bottom: 0;
        //         padding: 0 5px;
        //         display: block;
        //       }
        //     }
        //     .v-icon,
        //     input[role=checkbox],
        //     .v-input--selection-controls__ripple,
        //     .v-input--selection-controls__input {
        //       visibility: hidden;
        //       width: 0 !important;
        //       margin: 0;
        //     }
        //   }
        // }
        .time-slots {
          .checkbox {
            border: 1px solid #ccc;
            padding: 4px 8px 2px;
            margin-right: 15px;
            cursor: pointer;
            &.activeClass {
              background-color: #b9b9b9;
              color: #fff;
            }
            input[type="checkbox"] {
              opacity: 0;
              width: 0;
            }
            input[type="checkbox"] + label::after {
              content: none;
            }
            input[type="checkbox"]:checked + label::after {
              content: "";
            }
            label {
              position: relative;
              padding-left: 0;
              display: inline-block;
              cursor: pointer;
              margin-bottom: 0;
              font-size: 15px;
              &:before, &:after {
                content: "";
                position: absolute;
                display: none;
              }
              &:before {
                height: 16px;
                width: 16px;
                border: 1px solid;
                left: 0px;
                top: 3px;
              }
              &:after {
                height: 5px;
                width: 9px;
                border-left: 2px solid;
                border-bottom: 2px solid;
                transform: rotate(-45deg);
                left: 4px;
                top: 7px;
              }
            }
          }
        }
        .filepond--wrapper {
          max-width: 400px;
        }
        .custom-img-holder {
          .filepond--wrapper {
            max-width: 150px;
            min-height: 150px;
            border: 1px solid #a09fa0;
            background-color: #cfcfcf;
            .filepond--root {
              min-height: 100% !important;
              .filepond--drop-label {
                min-height: 9.3em;
              }
            }
            .filepond--panel-root {
              background-color: #cfcfcf;
              border-radius: 0;
            }
          }
        }
      }
      .dashboard {
        .v-card {
          background-color: #ebebeb;
          padding: 10px 15px;
          border: 1px solid #b3b2b3;
          box-shadow: none;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
          h5 {
            font-size: 14px;
            color: #333;
            margin-bottom: 0;
            font-weight: normal;
            span {
              float: right;
            }
          }
        }
      }
    }
    .custom-tabs {
      display: block;
      width: 60%;
      flex: none;
      .v-slide-group__wrapper {
        .v-tab {
          text-align: left;
        }
        .v-tabs-slider-wrapper {
          max-width: 200px !important;
          margin-left: 45px !important;
        }
      }
    }
    .custom-tab-content {
      display: block;
      width: 100%;
      flex: none;
      .v-card {
        &.service-tab-content {
          width: 60%;
        }
        &.insurance-tab-content {
          width: 80%;
        }
        .v-data-table {
          box-shadow: none !important;
          .v-data-table-header{
            tr {
              th {
                padding-bottom: 0;
                &:last-of-type {
                  width: 240px;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                .custom-action-btn {
                  max-width: 110px;
                  display: inline-block;
                }
              }
            }
          }
          .v-data-footer {
            border: none;
            display: none;
          }
        }
      }
    }
  }